@import url(./button.css);

#btn-back,
#btn-back:visited {
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
    text-shadow: none;
    background: transparent;
    box-shadow: 0 0 5px #000000;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    text-decoration: none;
}

#btn-back:hover,:focus {
    color: #ffffff;
    background: #0066ff;
    border: 1px solid #0066ff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #0066ff,
                0 0 20px #0066ff,
                0 0 50px #0066ff,
                0 0 100px #0066ff;
  }

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.portfolio .heading {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.portfolio .heading span {
    color: #0099ff;
}

.portfolio .portfolio-container {
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

.portfolio-container .portfolio-box {
    position: relative;
    flex-basis: 30%;
    min-width: 300px;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,.1), #0099ff);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
 
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
    text-decoration: none;
}

.portfolio-layer a i {
    font-size: 4rem;
    width: 4rem;
    color: #ffffff;
}

.portfolio-layer a:visited {
    text-decoration: none;
}

@media (max-width: 1100px) {
    .portfolio .portfolio-container {
        gap: 2rem
      }
  }